body {
    background-color: #e7ffe9;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

#container {
    margin: 0 2%;
}

#header {
    margin: 1% 5%;
}

#header > button, #header > input, #header > label {
    vertical-align: middle;
}

.grid {
    width: 100%;
}

.grid th {
    background-color: #b1f5ff;
}

.grid th, .grid td {
    text-align: center !important;
    padding: 7px;
}

.grid td {
    border-bottom: 1px solid black;
}

.grid :last-child > td {
    border-bottom: none;
}