body {
    background-color: #f9fff9;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

#container {
    margin: 0 2%;
}

#header {
    margin: 1% 2%;
}

#header > button {
    margin-right: 2%;
}

.vcenter, .form-group > label, .form-group > input {
    display: inline-block;
    vertical-align: baseline;
    float: none;
}

.form-group > input {
    padding: 0 10px;
}

.grid {
    width: 100%;
}

.grid th {
    background-color: #b1f5ff;
}

.grid th, .grid td {
    text-align: center !important;
    padding: 8px;
}

.grid td {
    border-bottom: 1px solid black;
}

.grid :last-child > td {
    border-bottom: none;
}

.alert {
    display: none;
}