<!DOCTYPE html>
<html>
<head>
    <title>Адресная книга</title>
    <meta content="text/html" charset="utf-8"/>

    <script type="application/javascript" src="/static/js/jquery-2.1.3.min.js"></script>
    <script type="application/javascript" src="/static/js/editablegrid-2.0.1.js"></script>
    <script type="application/javascript" src="/static/js/options.js"></script>
    <script type="application/javascript" src="/static/js/table.js"></script>

    <link rel="stylesheet" href="/static/css/editablegrid-2.0.1.css" media="screen">
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/base.css"/>

</head>
<body>
  <div id="container" class="container-fluid">
      <div id="header" class="row">
          <h1 class="col-md-11">Адресная книга</h1>
          <button id="updater" class="btn col-md-1">Обновить</button>
      </div>
      <div id="content" class="row">
          <div id="tablecontent"></div>
      </div>
      <div id="footer" class="row">
      </div>
  </div>
</body>
</html>